* {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(270deg, #00002d 0.000%, #000041 25.000%, #190056 50.000%, #34006b 75.000%, #4f0080 100.000%);
    color: white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: #f59e0b;
    margin-bottom: 50px;
    margin-top: 25px;
}

#container-cotizador {
    flex: 1;
    display: flex;
    width: 100%;
    gap: 10%;
    justify-content: center;
    align-items: center;
}

#container-img {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-img img {
    width: 100%;
}

#container-cripto {
    display: flex;
    align-items: stretch;
    justify-content: start;
    width: 50%;
    gap: 60px;
}

#crypto-form {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    width: auto;
    height: auto;
    gap: 20px;
    padding: 25px;
    background: #00174c;
    border-radius: 16px;
    box-shadow: 0px 0px 5px 1px #ffffff;
}

.form-input-container {
    color: #f59e0b;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 15px;
}

.form-input {
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
}

.form-input:hover {
    cursor: pointer;
}

.form-btn-container {
    display: flex;
    justify-content: center;
}

#form-btn {
    border-radius: 16px;
    padding: 10px 30px;
    font-size: 16px;
    color: #f59e0b;
    font-weight: bold;
    background-color: black;
}

#form-btn:hover {
    background: #f3f3f3;
    color: black;
    cursor: pointer;
}

#crypto-info {
    flex: 1 1 0;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    color: #f59e0b;
    padding: 25px;
    font-weight: bold;

    background: #00174c;
    border-radius: 16px;
    box-shadow: 0px 0px 5px 1px #ffffff;
}

#crypto-info:hover {
    box-shadow: 0px 0px 5px 1px #ffffff;
}

#crypto-info p:hover {
    color: #3498db;
}

#crypto-info h3 {
    display: flex;
    justify-content: center;
}

.loader {
    margin: auto;
    border: 16px solid black;
    /* Light grey */
    border-top: 16px solid #f59e0b;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#section-api {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#api-title {
    text-align: center;
    margin-top: 100px;
    color: #f59e0b;
}

#container-api {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-img-binance {
    width: 40%;
}

#container-img-binance img:hover {
    transform: rotate(-10deg);
    transform-origin: 50% 50%;
}

#container-binance-info {
    width: 50%;
    text-align: justify;
    line-height: 30px;
}

#container-disclaimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
}

#container-disclaimer h4 {
    text-align: center;
    color: #f59e0b;
    font-weight: bold;
}

#container-disclaimer p {
    line-height: 30px;
    width: 90%;
    text-align: justify;
}

footer {
    width: 100%;
    padding: 20px 0;
    margin-top: 30px;
    text-align: center;
    color: white;
    background: linear-gradient(180deg, #000038 0.000%, #000f5d 25.000%, #002587 50.000%, #003bb7 75.000%, #0051ea 100.000%);
}

footer a {
    text-decoration: none;
    color: #f3f3f3;
    font-weight: bold;
}

@media (max-width: 600px) {
    #container-cotizador {
        flex-direction: column;
        gap: 50px;
    }

    #container-img {
        width: 90%;
    }

    #container-cripto {
        flex-direction: column;
        width: 90%;
    }

    #container-api {
        flex-direction: column;
    }

    #container-img-binance img {
        width: 100%;
    }

    #container-binance-info {
        width: 90%;
    }

    #container-disclaimer p {
        width: 100%;
    }

    #disclaimer-p {
        width: 100%;
    }
}